.menu {
    background-color: #3b5998;
    padding: 10px;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.menu-list li {
    margin: 0 10px;
}

.menu-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-list a:hover {
    text-decoration: underline;
}